
#preLoader {
    animation-name: fadeout;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 20s;
}

@keyframes fadeout { 100% { opacity: 0; } }

#loaderBar {
    animation-name: progressBar;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-duration: 5s;
}

@keyframes progressBar { 100% { width: 120px !important; min-width: 120px; } }

body {
    animation-name: slideup;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 20s;
}

@keyframes slideup {
    0% { margin-top: 80px; height: calc(100% - 2.25*var(--padding) - 80px) }
    100% { margin-top: 0px; height: calc(100% - 2.25*var(--padding)) }
}
