
@media screen and (max-width: 950px) {
    #helpBtn {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    header label {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #linnel {
        display: none;
    }
    #search {
        left: calc(50% - 108px - var(--padding)) !important;
    }
    #themeBtn {
        float: left !important;
        left: calc(35px + (var(--padding) - 1em)) !important;
    }
    .forecastComponent {
        text-align: center;
        margin-left: 5%;
    }
    .forecastComponent span {
        float: none;
        margin-right: 5%;
    }
}

@media screen and (max-width: 550px) {
    #headerLogo {
        display: none;
    }
    #themeBtn {
        float: left !important;
        left: calc(25px + (var(--padding) - 1em)) !important;
    }
    #search {
        left: calc(50% - 82.5px - var(--padding)) !important;
    }
}
