
@media screen and (max-width: 950px) {
    #helpBtn, footer {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    header label {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #linnel {
        display: none;
    }
    #search {
        left: calc(50% - 108px - var(--padding)) !important;
    }
    #themeBtn {
        float: left !important;
        left: calc(35px + (var(--padding) - 1em)) !important;
    }
}

@media screen and (max-height: 600px) {
    footer {
        display: none !important;
    }
}

@media screen and (max-width: 550px) {
    html, body {
        padding-left: calc(var(--padding) - 1.5em);
        padding-right: calc(var(--padding) - 1.5em);
        width: calc(100% - 1.25*var(--padding));
    }
    #headerLogo {
        display: none;
    }
    #themeBtn {
        float: left !important;
        left: calc(25px + (var(--padding) - 1em)) !important;
    }
    #search {
        left: calc(50% - 82.5px - var(--padding)) !important;
    }
}
