
:root {
    --padding: 3em;

    --x-small-font: 11px;
    --small-font: 14px;
    --medium-font: 15px;
    --large-font: 20px;
    --x-large-font: 24px;
    --xx-large-font: 32px;
    --xxx-large-font: 42px;
    --bold: 800;

    --x-light-theme: #f7edfc;
    --light-theme: #f2d8fc;
    --light-theme-grad: linear-gradient(335deg, rgb(236,208,247) 0%, rgb(214, 149, 240) 55%);
    --theme: #a185c5;
    --theme-grad: linear-gradient(335deg, rgb(179,153,212) 0%, rgb(133, 97, 177) 55%);
    --dark-theme: #3a2c4b;
    --hover-theme: #827296;
}
