
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--theme);
    background: var(--theme-grad);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: var(--large-font);
    margin: 0;
    min-height: 100%;
    width: 100%;
}

#app {
    padding-top: calc(2*var(--padding));
    padding-bottom: calc(2*var(--padding));
    padding-left: calc(var(--padding));
    padding-right: calc(var(--padding));
}

.component {
    background-color: var(--x-light-theme);
    box-shadow: 0px 0px 16px 4px black;
    padding: 1em;
    display: none;
    font-size: var(--medium-font) !important;
}

.component img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#weatherStatus {
    height: 96px !important;
    width: 96px !important;
}

.weatherDesc {
    margin-top: 0.2em;
    text-align: center;
}

.forecastComponent {
    margin-top: 3em;
    margin-left: 20%;
    line-height: 0.7;
    font-size: var(--medium-font);
}

.forecastComponent span {
    float: right;
    margin-right: 30%;
}

a {
    color: black;
    font-weight: 600;
}

#preLoader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(166,94,255);
    background: linear-gradient(135deg, rgb(166,94,255) 37%, rgb(204,191,255) 100%); 
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#preLoaderLogo {
    position: relative;
    top: calc(50% - 60px);
    height: 120px;
    width: 80px;
}

#loaderContainer {
    position: absolute;
    display: block;
    top: calc(50% + 90px);
    left: calc(50% - 60px);
    width: 120px;
    height: 10px;
    z-index: 1000;
}

#loaderBar {
    background-color: white !important;
    min-height: 10px;
    display: inline-block;
    border-radius: 25px;
    width: 0px;
    min-width: 0px;
}
