
html, body {
    height: calc(100% - 2.25*var(--padding));
    width: calc(100% - 1.125*var(--padding));
}

body {
    padding-top: calc(2*var(--padding));
    padding-bottom: calc(2*var(--padding));
    padding-left: calc(var(--padding));
    padding-right: calc(var(--padding));
    margin: 0;
    background-color: var(--theme);
    background: var(--theme-grad);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: var(--large-font);
}

.component {
    background-color: var(--x-light-theme);
    box-shadow: 0px 0px 16px 4px black;
    padding: 1em;
    display: none;
    font-size: var(--medium-font) !important;
}

.component img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#weatherDesc {
    margin-top: 0.2em;
    text-align: center;
}

a {
    color: black;
    font-weight: 600;
}

#preLoader {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(166,94,255);
    background: linear-gradient(135deg, rgba(166,94,255,1) 37%, rgba(204,191,255,1) 100%); 
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#preLoaderLogo {
    position: relative;
    top: calc(50% - 60px);
    height: 120px;
    width: 80px;
}

#loaderContainer {
    position: absolute;
    display: block;
    top: calc(50% + 90px);
    left: calc(50% - 60px);
    width: 120px;
    height: 10px;
    z-index: 1000;
}

#loaderBar {
    background-color: white !important;
    min-height: 10px;
    display: inline-block;
    border-radius: 25px;
    width: 0px;
    min-width: 0px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 3.5*var(--padding));
    font-size: var(--x-small-font);
    color: white;
}
