
html, body {
    height: calc(100% - 2.25*var(--padding));
    width: calc(100% - 2.25*var(--padding));
}

body {
    padding: calc(2*var(--padding));
    font-size: var(--medium-font);
    margin: 0;
    background-color: var(--light-theme);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Cambria Math !important;
    font-size: var(--large-font);
}

#preLoader {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(166,94,255);
    background: linear-gradient(135deg, rgba(166,94,255,1) 37%, rgba(204,191,255,1) 100%); 
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#preLoaderLogo {
    position: relative;
    top: calc(50% - 60px);
    height: 120px;
    width: 80px;
}

#loaderContainer {
    position: absolute;
    display: block;
    top: calc(50% + 90px);
    left: calc(50% - 60px);
    width: 120px;
    height: 10px;
    z-index: 1000;
}

#loaderBar {
    background-color: white !important;
    min-height: 10px;
    display: inline-block;
    border-radius: 25px;
    width: 0px;
    min-width: 0px;
}

h1 {
    font-size: var(--xx-large-font) !important;
}

h1, #dateStamp {
    display: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 7*var(--padding));
    font-size: var(--x-small-font);
}
