
@media screen and (max-width: 950px) {
    #helpBtn, footer {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    header label {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #linnel {
        display: none;
    }
    #headerLogo {
        display: block;
    }
}

@media screen and (max-height: 600px) {
    footer {
        display: none !important;
    }
}

@media screen and (max-width: 550px) {
    html, body {
        padding-left: calc(var(--padding) - 1.5em);
        padding-right: calc(var(--padding) - 1.5em);
        width: calc(100% - 1.5*var(--padding));
    }
    p, span {
        text-align: justify;
    }
    #headerLogo {
        display: none;
    }
    #profileBtn {
        right: 10px !important;
    }
    #lightMode, #nightMode {
        float: left !important;
        left: calc(25px + (var(--padding) - 1em)) !important;
    }
    #search {
        left: calc(50% - 84px - var(--padding)) !important;
    }
}
