
:root {
    --padding: 3em;

    --x-small-font: 11px;
    --small-font: 14px;
    --medium-font: 15px;
    --large-font: 20px;
    --x-large-font: 24px;
    --xx-large-font: 32px;
    --xxx-large-font: 42px;
    --bold: 800;

    --light-theme: #F5E1FD;
    --theme: #B399D4;
    --dark-theme: #443557;
    --hover-theme: #a08cb9;
}

html, body {
    height: calc(100% - 2.25*var(--padding));
    width: calc(100% - 2.25*var(--padding));
}

body {
    padding: calc(2*var(--padding));
    font-size: var(--medium-font);
    margin: 0;
    background-color: var(--light-theme);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--large-font);
}

h1 {
    font-size: var(--xx-large-font);
}

h1, #dateStamp {
    display: none;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 7*var(--padding));
    font-size: var(--x-small-font);
    font-family: Cambria Math;
}
